In [6]:
import yfinance as yf
import pandas as pd

# Define the S&P 500 ticker symbol
sp500 = yf.Ticker("^GSPC")

# Pull historical data since 2000
data = sp500.history(start="1980-01-01")

# Display the first few rows of the DataFrame
data.tail()

# Check for missing values in each column
# missing_data = data.isnull().sum()
# print(missing_data)

# Check the distribution of the target class
# Quick overview of data statistics to check for varying scales
# print(data.describe())

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-10-23 00:00:00-04:00,5834.500000,5834.850098,5762.410156,5797.419922,3532650000,0.0,0.0
2024-10-24 00:00:00-04:00,5817.799805,5817.799805,5784.919922,5809.859863,3543030000,0.0,0.0
2024-10-25 00:00:00-04:00,5826.750000,5862.819824,5799.979980,5808.120117,3501280000,0.0,0.0
2024-10-28 00:00:00-04:00,5833.930176,5842.919922,5823.080078,5823.520020,3691280000,0.0,0.0
2024-10-29 00:00:00-04:00,5819.680176,5847.189941,5802.169922,5832.919922,3879100000,0.0,0.0